@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
      .font-outline {
        -webkit-text-stroke-color: #ffffff1a;
        -webkit-text-stroke-width: 2px;
        color: #69696900
      }
}